{% extends 'base.html'%}

{% block banner_content %}
<h2>Find a similar drink</h2>
<p>Choose from a drink below to find similar recommendations</p>
<a href="#main" class="button scrolly">Take Quiz</a>
{% endblock banner_content %}

{% block main %}
<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row gtr-200">
            <div class="col-12">

                <!-- Highlight -->
                    <section id="quiz_one" class="box highlight">
                        <ul class="special">
                            <li><a href="#quiz_two" class="icon solid fa-thumbs-up"><span class="label">Magnifier</span></a></li>
                            <li><a href="#quiz_two" class="icon solid fa-thumbs-down"><span class="label">Tablet</span></a></li>
                        </ul>
                        <header>
                            <h2>Do you like Alcoholic or Non-Alcoholic drinks?</h2>
                            <p>And some text that attempts to explain their significance</p>
                        </header>
                        <p>
                            Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper mod quis eget mi. Etiam eu<br />
                            ante risus. Aliquam erat volutpat. Aliquam luctus et mattis lectus amet pulvinar. Nam nec turpis consequat.
                        </p>
                    </section>
                <!-- Highlight -->
                    <section id="quiz_two" class="box highlight">
                        <ul class="special">
                            <li><a href="#quiz_three" class="icon solid fa-thumbs-up"><span class="label">Magnifier</span></a></li>
                            <li><a href="#quiz_three" class="icon solid fa-thumbs-down"><span class="label">Tablet</span></a></li>
                        </ul>
                        <header>
                            <h2>Do you like alcohol forward drinks?</h2>
                            <p>And some text that attempts to explain their significance</p>
                        </header>
                        <p>
                            Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper mod quis eget mi. Etiam eu<br />
                            ante risus. Aliquam erat volutpat. Aliquam luctus et mattis lectus amet pulvinar. Nam nec turpis consequat.
                        </p>
                    </section>
                <!-- Highlight -->
                    <section id="quiz_three" class="box highlight">
                        <ul class="special">
                            <li><a href="#quiz_four" class="icon solid fa-search"><span class="label">Magnifier</span></a></li>
                            <li><a href="#quiz_four" class="icon solid fa-tablet-alt"><span class="label">Tablet</span></a></li>
                            <li><a href="#quiz_four" class="icon solid fa-flask"><span class="label">Flask</span></a></li>
                            <li><a href="#quiz_four" class="icon solid fa-cog"><span class="label">Cog?</span></a></li>
                            <li><a href="#quiz_four" class="icon solid fa-search"><span class="label">Magnifier</span></a></li>
                            <li><a href="#quiz_four" class="icon solid fa-tablet-alt"><span class="label">Tablet</span></a></li>
                            <li><a href="#quiz_four" class="icon solid fa-flask"><span class="label">Flask</span></a></li>
                            <li><a href="#quiz_four" class="icon solid fa-cog"><span class="label">Cog?</span></a></li>
                        </ul>
                        <header>
                            <h2>What type of alcohol do you enjoy most?</h2>
                            <p>And some text that attempts to explain their significance</p>
                        </header>
                        <p>
                            Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper mod quis eget mi. Etiam eu<br />
                            ante risus. Aliquam erat volutpat. Aliquam luctus et mattis lectus amet pulvinar. Nam nec turpis consequat.
                        </p>
                        </p>
                    </section>
                <!-- Highlight -->
                    <section id="quiz_four" class="box highlight">
                        <ul class="special">
                            <li><a href="#" class="icon solid fa-search"><span class="label">Vodka</span></a></li>
                            <li><a href="#" class="icon solid fa-tablet-alt"><span class="label">Tablet</span></a></li>
                            <li><a href="#" class="icon solid fa-flask"><span class="label">Flask</span></a></li>
                            <li><a href="#" class="icon solid fa-cog"><span class="label">Cog?</span></a></li>
                            <li><a href="#" class="icon solid fa-search"><span class="label">Magnifier</span></a></li>
                            <li><a href="#" class="icon solid fa-tablet-alt"><span class="label">Tablet</span></a></li>
                            <li><a href="#" class="icon solid fa-flask"><span class="label">Flask</span></a></li>
                            <li><a href="#" class="icon solid fa-cog"><span class="label">Cog?</span></a></li>
                        </ul>
                        <header>
                            <h2>Any other flavors you enjoy?</h2>
                            <p>(Select all that apply)</p>
                        </header>
                        <p>
                            Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper mod quis eget mi. Etiam eu<br />
                            ante risus. Aliquam erat volutpat. Aliquam luctus et mattis lectus amet pulvinar. Nam nec turpis consequat.
                        </p>
                    </section>
                <div class="col-12">
                    <ul class="actions">
                        <li><a href="{{url_for('homepage')}}" class="button large">View Results</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock main %}